body{
	background-image: url(/img/background.png);
	/*background-size: cover;*/
	font-family: 'Roboto', sans-serif;
	
}

#btn-navbar{
	border: none;
}

#dropdownLink{
	font-size: 18px;
	font-weight: bold;
}

.img-show-post{
	height:50vh;

}

.img-index-post{
	width: 290px;
	height: 250px;
}	

.show-box{
	box-shadow: 0px 0px 15px #CCC;

}

.btn-thumbs{
	border:none;
	background-color: transparent;
}